# .NET Build Outputs
bin/
obj/
*.user
.vs/

# Publish output
publish/
/publish
publish_smarterasp/
*.zip

# User secrets & local configs
appsettings.Development.json
appsettings.Local.json
*.pfx
*.p12
secrets.json

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Temporary Scripts
*.ps1
ReplaceLinks.cs
ReplaceLinks.ps1

# Node (if any)
node_modules/